.main__gameChose {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}
.backGround-noDisplay {
  display: none;
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: -200rem;
  bottom: 0;
  right: 50%;
}
.win {
  display: block;
  background-color: #4d8a2b;
}
.lose {
  display: block;
  background-color: #f6aa6a;
}
.tie {
  display: block;
  background-color: #e3e3e3;
}
.main__textWinLose {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__textWinLose h2 {
  font-size: 5rem;
  font-weight: bold;
}
.textWinLose__comeBack {
  padding: 1.4rem 6.5rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 0.8rem;
  background-color: #fdfdfd;
}
.textWinLose__comeBack p {
  width: 100%;
  color: #182343;
  font-size: 1.8rem;
  font-weight: 600;
}
