.main__gameChose {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}
.backGround-noDisplay {
  display: none;
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: -200rem;
  bottom: 0;
  right: 50%;
}
.win {
  display: block;
  background-color: #4d8a2b;
}
.lose {
  display: block;
  background-color: #f6aa6a;
}
.tie {
  display: block;
  background-color: #e3e3e3;
}
